# Python
backend/.venv
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
backend/Pipfile.lock

# Node / Angular
frontend/node_modules
frontend/dist
frontend/.angular/

# VS Code
.vscode

# Environment
backend/.env
